{% extends 'layout.html' %}
{% block content %}
    {% if !user %}
        <div id="login-screen">
            <center>
                <h1>Login if you're brave</h1>
            </center>
            <center>
                <h1>
                    <a href="/auth/spotify">login</a>
                </h1>
            </center>
        </div>
    {% else %}
        <script src="/js/bundle.js"></script>
        <script> var accessToken = "{{ accessToken }}" </script>
        <div id="current">
            <img id="albumart"></img>
            <div id="currentlyplaying"></div>
            <div id="progress-status">
                <div id="progressbar">
                </div>
            </div>
            <div id="clickable-div">
                <div id="play"> play </div>
            </div>
        </div>

        <div id="songs">
            <div id="queue">
                <div id="clickable-div">
                    <div id=refreshqueue> Refresh Queue </div>
                    <div id=clearqueue> Clear Queue </div>
                </div>
                <div id=songqueue>
                    <ul id=songqueue-ul>
                    </ul>
                </div>
            </div>
            <div id="search">
                <div id="searchbar">
                    search: <input type="text" id="searchbar-text">
                </div>
                <div id="searchresults">
                    <ul id="searchresults-ul">
                    </ul>
                </div>
            </div>
        </div>
        <div id="devices">
            <div id="current-device-display"> 
                Playing on<div id=currentdevice></div>
            </div>
            <div id="available-device-display">
                <div id="clickable-div">
                    <div id="findavailabledevices"> Find Available Devices </div>
                </div>
                <div id="available">
                    <ul id="available-ul">
                    </ul>
                </div>
            </div>
        </div>
        <div id=currentdeviceid></div>
        <ul id=hidden-songqueue-ul>
        </ul>
    {% endif %}
{% endblock %}
