<!DOCTYPE html>
<html>
    <head>
        <title>Musictude</title>
        <!_________CSS_______>
        <link rel="stylesheet" href="css/main.css">

        <!_________JS_______>
        <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

        <!_________FONTS_______>
        <link href='https://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
        <link rel="icon" href="https://minhyukpark.com/favicon.ico?v=5vn" />
    </head>
    <body>
        <div class=content>
            {% if !user %}
            {% else %}
            {% endif %}
            {% block content %}
            <h1><a href="/logout">Log Out</a></h1>
        </div>
    </body>
</html>
